@charset "UTF-8";

/* two soljutions */
/* 1. this works well if original text is empty */
/*.LcustomTranslation#L8:after {content: "Zwischen den Klagen die vor dem Gerichtshof argumentiert worden, als Folge der Vorlagefragen von den nationalen Gerichten erhoben, listen wir die wichtigsten:";}

.LcustomTranslation#L9:after {content: "Auf ein Vorabentscheidungsersuchen der italienischen Gerichte";}

.LcustomTranslation#L10:after {content: "Auf ein Vorabentscheidungsersuchen der französischen Gerichte:";}

.LcustomTranslation#L11:after {content: "Zur gleichen Zeit, hat sich die Anzahl und Bedeutung der Fälle vor den Gerichten der europäischen Union sehr erheblicht.";}
*/

/* 2. this replaces original text empty or not */
.LcustomTranslation {color: transparent; text-indent: -9999px; line-height: 0;}
.LcustomTranslation::after { color: #666; text-indent: 0; line-height: initial; display: block;}

.LcustomTranslation#L8::after {content: "Zwischen den Klagen die vor dem Gerichtshof argumentiert worden, als Folge der Vorlagefragen von den nationalen Gerichten erhoben, listen wir die wichtigsten:"; }

.LcustomTranslation#L9:after {content: "- Auf ein Vorabentscheidungsersuchen der italienischen Gerichte"; }

.LcustomTranslation#L10:after {content: "- Auf ein Vorabentscheidungsersuchen der französischen Gerichte:"; }

.LcustomTranslation#L11:after {content: "Das Unternehmen bietet hoch qualifizierte Unterstützung auf dem Gebiet der Landwirtschaft, Fischerei, Umwelt. Diese Unterstützung beinhaltet oft den Umgang mit öffentlichen Verwaltungen und Agenturen in der Auslegung und Anwendung des EU-Rechts. In vielen Fällen können Probleme in diesem Stadium ohne sie sich auf einem Pfad der Rechtsstreitigkeiten gelöst werden. Zur gleichen Zeit, hat sich die Anzahl und Bedeutung der Fälle vor den Gerichten der europäischen Union sehr erheblicht."; }


/* 2 but with each element selected one by one. For testing only
.LcustomTranslation#L8 {color: transparent; text-indent: -9999px; line-height: 0;}


.LcustomTranslation#L8::after {content: "Zwischen den Klagen die vor dem Gerichtshof argumentiert worden, als Folge der Vorlagefragen von den nationalen Gerichten erhoben, listen wir die wichtigsten:";
color: #666; text-indent: 0; line-height: initial; display: block;}


.LcustomTranslation#L9 {color: transparent; text-indent: -9999px; line-height: 0;}
.LcustomTranslation#L9:after {content: "- Auf ein Vorabentscheidungsersuchen der italienischen Gerichte"; color: #666; text-indent: 0; line-height: initial; display: block;}


.LcustomTranslation#L10 {color: transparent; text-indent: -9999px; line-height: 0;}
.LcustomTranslation#L10:after {content: "- Auf ein Vorabentscheidungsersuchen der französischen Gerichte:"; color: #666; text-indent: 0; line-height: initial; display: block;}

.LcustomTranslation#L11 {color: transparent; text-indent: -9999px; line-height: 0;}
.LcustomTranslation#L11:after {content: "Das Unternehmen bietet hoch qualifizierte Unterstützung auf dem Gebiet der Landwirtschaft, Fischerei, Umwelt. Diese Unterstützung beinhaltet oft den Umgang mit öffentlichen Verwaltungen und Agenturen in der Auslegung und Anwendung des EU-Rechts. In vielen Fällen können Probleme in diesem Stadium ohne sie sich auf einem Pfad der Rechtsstreitigkeiten gelöst werden. Zur gleichen Zeit, hat sich die Anzahl und Bedeutung der Fälle vor den Gerichten der europäischen Union sehr erheblicht."; color: #666; text-indent: 0; line-height: initial; display:block ;}
*/