@charset "UTF-8";

/*Luca 2015-10-19
Some translations have been made manually and they are then substituted dynamically into the html using the CSS ::after  pseudo selector technique.

Unfortunately, Solution #2 (replacement --) does not work well with <li> tags (the bullet disappears). Solution #1 (insert where original tag is empty seems to work).

Because of this and for standardization, these tags are empty in all languages and so their content needs to be reinserted in the oter languages as well)
*/

/* 1. (Insert) This works well if original text is empty */
/*.LcustomTranslationLI#L1::after {content: "actions to oppose fines imposed by the European Commission for anti-competitive agreements in the steel sector;"; }

.LcustomTranslationLI#L3::after {content: "against Member States suspected of having planned and / or implemented State aid incompatible with the European rules (Articles 107 and 108 TFEU)."; }

.LcustomTranslationLI#L17::after {content: "initiate an action of invalidity for a trademark already granted to another entity."; }
.LcustomTranslationLI#L18::after {content: "seeking to have a trademark declared invalid or revoked"; }
.LcustomTranslationLI#L19::after {content: "appeal to the Boards of Appeal"; }
.LcustomTranslationLI#L20::after {content: "appeal to the Court of the European Union against decisions of the Boards of Appeal"; }

.LcustomTranslationLI#L24::after {content: "against other companies suspected of breaking the rules of European competition law (Articles 101 and 102 TFEU);"; }
.LcustomTranslationLI#L25::after {content: "against German companies that had de facto imposed in the photovoltaic sector, contracts for the supply of silicon wafers containing clauses which were overly restrictive of competition or otherwise an abuse of their dominant position;"; }
.LcustomTranslationLI#L26::after {content: "against Italy for having established an unfair and discriminatory system of financing the activity of its Competition Authority."; }

.LcustomTranslationLI#L28::after {content: "action for annulment of a decision by the Commission by which an investment project for the rationalization of the production of dehydrated alfalfa had been excluded from Community financing;"; }
.LcustomTranslationLI#L29::after {content: "action against the rejection, by the Commission, of a bid in a tender for the sale of Community barley held by the Austrian authority;"; }

.LcustomTranslationLI#L55::after {content: "against German companies suspected of breaking the rules of European competition Law (Articles 101 and 102 TFEU);"; }
.LcustomTranslationLI#L56::after {content: "against Italy for having planned and implemented fiscal measures to be considered State aid incompatible with the European rules (Articles 107 and 108 TFEU);"; }
.LcustomTranslationLI#L57::after {content: "against Italy for violation by the local customs authorities, of the Community legislation on the rights to health inspection;"; }
.LcustomTranslationLI#L58::after {content: "against Poland for violation by the regional authorities of the European legislation on the environment and the principles of freedom of establishment and provision of services, having refused - it is believed for discriminatory reasons based on nationality - to a Polish company with Italian capital the authorization to operate a waste disposal plant in Poland."; }
*/

